<!DOCTYPE html>
<head>
    <link href = "/normalize.css" rel = "stylesheet">
<!--Using CSS to refer to HTML elements to give the page style-->
    <style>

    </style>

<head>
<body>
    <header>
    img src = <!--Insert picture-->
    <h1>About Us</h1>
    </header>
    <article>
        <h2>Robert Sanchez</h2>
        <p><!--Insert Rob bio--></p>
    </article>
    <article>
        <h2>Guillermo Martinez</h2>
        <p><!--Insert Guillermo Bio--></p>
    </article>
    <article>
        <h2>Maximum Flourney</h2>
        <p><!--Insert Max Bio--></p>
    </article>

</body>
</head>