<!DOCTYPE html>
<head>
    <link href = "/normalize.css" rel = "stylesheet">
<!--Using CSS to refer to HTML elements to give the page style-->
    <style>

    </style>

<head>
<body>
    <header>
    img src = <!--Insert picture-->
    <h1>About Us</h1>
    </header>
    <article>
        <h2><em>Robert Sanchez</em></h2>
        <p>In September of 2007, Robert Sanchez, one of the authors of The Organ Project was diagnosed with chronic kidney disease and was immediately directed to start dialysis treatment. After waiting for 2 years, Mr. Sanchez was transplanted, and the kidney survived for 5 years before Mr. Sanchez had to go on dialysis for another six and a half years before receiving another transplant in October 2020. Mr. Sanchez's experience as a Clinical Social Worker and his experience with navigating his illness created a curiosity to explore Organ Transplant disparity in communities of color.  He is currently in the midst of a career change in hopes to have a further reach in exploring affecting societies across the world.  He believes that coding will help him achieve that goal. 
        </p>
    </article>
    <article>
        <h2><em>Guillermo Martinez</em></h2>
        <p>An ambitious student, from the Bronx, NY, with an interest in studying software engineering and giving back to communities of color.  I decided to join Robert Sanchez in this project because I believe that this project has the ability to inform people of color, like myself. I realized that many POC were uninformed of the health risks that plague our communities. I, alongside with Robert, wanted to help spark change in this by helping others stay informed with this program. In the future, I hope to continue giving back to Justice Through Code and communities of color.
    <article>
</body>
</head>
