 
<html lang='en'>
	<head>
     
		<meta charset='UTF-8'/>
        
		 
		<link rel='stylesheet' href='style.css'
	</head>
	<body>
		<h1>JTC Organ Project 21'</h1>
        
        <script src='Project.js'></script>
        
                     ''
                        <img src="https://ufhealth.org/sites/default/files/media/social-media/2020-April-NDLM-2020-Organ-Donation.png" alt="">
                        <text><section>In September of 2007, Robert Sanchez, one of the authors of The Organ Project was
                            diagnosed with Chronic Kidney Disease and was immediately directed to start dialysis
                            treatment. After waiting for 2 years, Mr. Sanchez was transplanted, and the kidney
                            survived for 5 years before Mr. Sanchez had to go on dialysis for another 6 ½ years before
                            receiving another transplant in 2020. Mr. Sanchez’s ability to have 2 transplants in 13
                            years is somewhat rare especially for a man of color. In our collective experiences we noticed a disproportion in organ donation when it came to
                            people of color, especially in the Black and Brown communities of color in the United
                            States. We also noticed that people of color were less likely to donate than were white
                            American counterparts.
                            The Organ Project is an attempt to explore the difference in organ donation. We will
                            endeavor to inform and educate the American public on the disparity of minority organ
                            donorship in the United States and it is our hope that The Organ Project will create
                            discussion and exploration of the donor process in order to alleviate the growing need for
                            transplantation in communities of color. We are hoping that the user of our website will:
                            1. Register as a donor
                            2. Register as a recipient
                            3. Become more informed about donorship
                            Organ transplantation offers an exceptional chance to extend and/or save lives and
                            improve the health of those in need an organ. According to the 2019 National Survey of
                            Organ Donation Attitudes and Practices (2019), the number of organ transplants has
                            gradually grown over the past 65 years, with more than 750,000 transplants conducted in
                            the United States since 1988. However, the need for an organ immensely overshadows the
                            number of obtainable organs. Approximately 20 people on the national organ transplant
                            waiting list die each day, while every 10 minutes a new person is added to that list.</text></section>
                        <section>
                        <img src="https://lh3.googleusercontent.com/sZhQKi4FxzWHhYCFeuLxHMlOtQ_oJ3nF1xWOt4dqgr8AK6-KZ6jxS-KQIETdVPIPcMyM3MWDZaPd-TEpOC5ifKh4YkLbLEctg-pSO7hQ1qfyzEUKQE6v5DxJFcmN4c1FMwkcvqHc7Qui_VE9UuLXhJHaxSgJsrAjub9-knoxcAuRbU7WG_CFNeWgEvFRGdBaIXxZSmpU4jvaIAjxCtsaQeuhqfNdjroU01vmC4KU76j0TPinvFhLatxu3aDIbuMCZH5FS7PkNR9l64dx3NTpZel3MXStk__KKc_mpRqHi57nN4Fcv_kr0DEHJUpOuYWF1sZUwtvz-Oz7HGa6Yd35XseZpIl1JDAkziKAKcZa832Ty1fRnAwzN3tAtdlRFusu_OMe4fQXfiBVSS_MLyCMftPojM2GCrd-aHfyaqv5g_EpRknWoEMIgtCGcYsFPbry8S0XVdrTtO3n9d9f5dBCuol_NuK06VY-v2ncmAOtcbIDHhslaMEy8aGjKdGbvJM-KTehFm0VhOMhyygCXhx6bSuVzSLvrWVXVfo4DdBk4jtttnBvz1aban_UqQPo0xq_oJMYQgJsNmmdtGn93I5w-NWPOcWb3E1maScObhS0lGRbSK9oIIiIpzHjXVEhVyhN1wCrGDecdkzwuvbXEAF_d_I2U6RC_hE66727ceV-iETs19ufbDxu1JApHSwsFVBRG_ZX05rytGNq2AXj0WtSG70=w388-h335-no?authuser=0" alt="">
                        <aside> <small>Figure 1 Donor Type by Ethnicities’</small> <aside/>
                        <text>If we take a look at Figure 1, we will see that a majority of organs come from the White
                            population by almost 100 thousand plus donors coming from both live and deceased donors.
                            On that same figure we can also see that since 1988 we can also see that Black and Latin(x)
                            individuals donate at far less numbers by almost 250 thousand donations.
                            <section/>
                        </text>   
                        <img src="https://lh3.googleusercontent.com/LhdBKNOLjaiy3FAochvyPgzBir-GB11TH4EJMcVVKBXoyoeXG1Oz67tjgSUakdhRI84KHB25XYOWHoAiKL0XV9aBcInGQi65l7qhKkhonzv8skP3ZuLs5KTzFQBlzIBFqKOR4YWwWmZDNzUWosQ0eVYFoUrbhjLFG6S7IjEoRHijUJMk2pyneJ-zS0vVvK2IhhkhWaqfY2h9R-zL4rO8wrL12FNN3p_RSlfNpumKaonwMdDOebvqYM4hD0wZmwMnBXV4Nn1jcnxsRmVh5v9i_Ve6i_2Z86qPaATpHvDmBaEdLt6TkL14vzhznrti6xwL-q2KpGVCG-DBl8CH8atIr4zs2m-6HjoGrvGV6VSXq5UjiHtU6B6XkybBc4U9pMocX38u9INUiiwUIUKDJsJsbXg-bYFqLBgPTFpMDDXjgmDNgC8hx5AY9a18-_L54uzYY84KJZ6775u9A7MfgTu2fhzzmpkuP-ekbMIeeD5R0B4zOo8zdrsBLSjn4FJ7_3oS1g1g9muoYn7Ts1sPwTQSMJMS-h8UlVfaM08pbxbzllKnJL9D7UHv2SCT1_Lv2DSh_Y7wgLyG6HKkfGYPZPQBYd9i4Kaohe8gypPdjcn8FfDmjFl7pGxROWBQQEnq8y4v6m3BxfgIuoV6Twb3LpezlX5DipDNzko99DmA49Pnma-yR4XaNsIsPLkeOFBRI-VFJZM02HJivfrKuTlZcruRJKs=w403-h265-no?authuser=0" alt="">
                        <section>
                        <small>Figure 2 African American Donor Types OPTN</small>
                        <article><text>Taking a closer look at Figure 2, Black Donor Types we see that most of the donor types come
                            from deceased donors by almost 15 thousand donors. Since 1988 Black Americans have
                            donated 19,691 live donor organs. We want to understand why is there such a gap between
                            live donors and deceased donorship?</text></article>
                        <section/>
                        <img src="https://lh3.googleusercontent.com/mYp1Mj_x63b-LiOkUVPgJZqBrPOO_QtcO4g1MYSkxbh_agZhN6h6dc1HvLaNHggXaafXefTdDxkEArxZOdH_rKiofmZSDMXP4rllcWXsRCCide5dhG0PKDnxwgOh3OAnt_dlDUoAjwhozgjJAHBh0hRz5U9RT20CfPVYJqNd8VO7dK8KAisIExpSc-YNW_W6JLG4q8A5_TCN7Zf5aeH44NDcc81IAcPmeqsHGWD_i8IgndmEZknd9APDXf8woVqV7NuTSlPJUFn1zSNHw_Ea33W7OVYMr3FatlTiP-iCDudl7yFPW63rBktvat78D84DfQtMPLQ6OMy6sr2fpZB7dAs_1EUAbtKxJGhSgfltDS0bn7y2KR4J8KBaQld4AC13bkkg6a_BK8VxxvCQxf7dL19gXm-SrXOLk7QEdH7l1K1vQC2OJxku5LZhWlMReyjGILoxCjznUDzUNhU620onyNv0ReK75dOP3fB1YDwCs7iuldcjAgXkOhKSx418iuvIERk50SQbde-9i04QmF1qsCScsidY0q3KqZU5-dF_Zty8TI49PFzwYKo-f9RdLsEd2qOWcyTmvMxaa89nmfzo1FDw2c6glEKcFFuQ14T_14vEK6dZF7RejXI5D-MiSYqLLwYelixHDfQOeqVSq_FJ-HBQnGC3zuIiQ2AdxAAr304BnYPK7ql5H60FQh3LAzWacAWWHgSyabKW36GNYD8m5PY=w403-h265-no?authuser=0" alt="">
                        <section><small>Figure 3 Hispanic Donor Types</small> <section/>
                        <section><text>If we take a look at Figure 3, we will see that the total Latino Donor types closely resembles that
                            of the Total in Black Donor types. The difference in Latino Donor Types is that there is a slight uptick in the number of live donors.</text><section/>
                        <img src="https://lh3.googleusercontent.com/q8gWzSoQASM_VWpQd8on0Xqs8JcRx5UQmitbNKGW7WZb3CIe6a-fSu30lJBHw-hls_kUAkQi0-E5Fc6jg5QDstVq07AUxuNfVaDIF7QS3i8HG2qAmR01eb2d_6ZHMLzazPcDLC3ZDHSS4jrdlA3Qh2n8FhMIaoRxUR6Usp1KPGX9t2nmdjVmVCPEYliK4aTb6eo3Di3q-ikvhNd3AYNN77-GKKlM2Oal3P7UjOXFpl0-Ub5Ry1INks7cNMpv_uQxwrgf_-BhRfZo9-Ga0Pge_T7Blh-XBm94Denxm0gZlC6ZcvEsynQlnooHjw-OSCHi1zO5U8Ktxtt2r9G0TpqLlRTBWoTNKXMeHbukZMPLGHsZg5KXF2P3S7-rK2KLQk4iSnyII3rAZT9rBgpCeejUCaaDV78e9S7vi8UlMNySNFWWQanHcytg7Igg6QAV_oLUZPyFo5afiAkGWL3np15D4YtFHIemrflQgMxJu90wCtahAomSoXSeTkuyjMrjaA6ru6ypNc7vZRaAII6jopgfiQSgwK_h4mixePCsqhzCL15fh73Zu4I74jHVeJ0oZEiO4Fm5eQaHtbdnRl6k5yCAzS1q2ZlGTcmUz6jUIjP4yxjrE7psbAWSjBAx7E28DJCYKONc3UgmzLqIjo6_0pp9rm1vqo9i0EQ9y8jMbLNE1vwKIuzpJNFxnsbvymcpJs4xX2HAftJgcR6YcK2uhF8LvfA=w268-h346-no?authuser=0" alt=""> 
                        <section><small>Figure 4 All Ethnicities Received Transplant</small> </section>
                        <text>According to OTPN (2020), nearly two-thirds of all patients receiving an organ transplant (Fig. 4) were white as opposed that of Black and Latino 
                                patients which add up to 32% even though the represent almost half of all patients awaiting a kidney as reflect in Figure 5.</text>
                        <section><img src="https://lh3.googleusercontent.com/_1-mxDjcTbYtba-BVYzpnXAeLjrKF7zOt2hqvO2k5ZdPKhOyNnK8KWFL4M2tIkpSiUx6YDujOak86hcmResHaUzSkWUZz3PdtdRMNIlLZsMSkuCs-UvsKrE2PUtpunlc5blmL0uGuuyb_QoiI4T54NRIDOdnz4ONa1XKQfCjjMQLdq-MugEYLFvU6KAo13tIZYTZnTwaQDJnI21exls0VtxhWX2qf6Tz86htzTiHeqQ3eVoJBaw8tDqiKkLRelTYh80LeK07sRRx4uJv6WGz-1ik6nocChPR4Eb9xcp8UUuBhdqi4e-4FBtQMHsWDzKhE-zaHrKNKoxWNEGX8yD02umKSy9wgY6O2ELBX-2ls90iJVZtLhwQ_yg7DxQQZklaoO9l7IWBvV-iy3pwGYpBwo5crpV-w6iF7X1vAAKDfKNX10ybUZWIxqQH3lJ9tup8ZNh54hE2hzmoUkueR2nOaL1YeQWxCAgmHOGLOEIxiJ_1kGbN879eoYUJk2DrY_lmFLSRYWMTiDjV3UUgVocexVS6BTIg62mrdZZJ6ZjZmPwDFrJ0Z2jDaxtdDe7BKlFKnHh71XwiscH2gFmLE9ZJfn22MO4irLCy5JynPPQ6O1TOX1sUIvI-mKwmDhh9mfk4MOJK5ng3ByJv9WHg3-n0HkCtrmcrtLnluDJaP08XdiA5OEAc41nXM6GBK53EOgY1AfTtFVN41vtbpHU1J7FelME=w315-h430-no?authuser=0" alt=""> <aside><small>Figure 5 Organ Waiting List by Ethnicities</small></section></aside>

                        <section><text>According to the National Institute of Health (NIH-PA, 2015), There were five reason or
                            obstacles to donation that were unmasked in Black and Latin(x).
                            <section>1. Lack of transplantation awareness. </section>
                            <section>2. Religious beliefs and misperceptions. </section>
                            <section>3. Distrust of medical community.</section>
                            <section>4. Fear of premature declaration of death after signing a donor card.</section>
                            <section>5. Fear of racism (black donor preference for assurance of black receivership).</section>
                            Eventually the Organ Project will look to shift attitudes towards donation as well as build
                            knowledge about organ transplants in communities of color. Explore best health practices
                            (prevention, nutrition and illness management) and what are the actions that follow a decision
                            such as donation. We are hoping that the Organ project can reach youth as well as adults.
                            The authors of this project recognize that this is just the beginning of our research and attempt
                            to create a coding vehicle that will make this site actionable for those looking for answers and
                            or help.</text></section>
					</div>
				</script>		
	</body>
</html>



