<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset='UTF-8' />
    <title>The Justice Through Code Organ Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>


    <link rel='stylesheet' href='style.css' </head>

    <body>
        <h1 style="text-align:center;" style="font-size:400%;" style="color:blue;">JUSTICE THROUGH CODE AT COLUMBIA</h1>
        <h2 style="text-align:center;" style="font-size:225%;">PRESENTS</h2>

        <script src='Project.js'></script>

        ''
        <img src="https://pbs.twimg.com/profile_images/1397411879518154752/1Rw-YyY4_400x400.jpg"
            alt="The Organ Project Logo">

        <text>
            <section>
                <p style="font-size:200%;">In September of 2007, Robert Sanchez, one of the authors of The Organ Project
                    was
                    diagnosed with Chronic Kidney Disease and was immediately directed to start dialysis
                    treatment. After waiting for 2 years, Mr. Sanchez was transplanted, and the kidney
                    survived for 5 years before Mr. Sanchez had to go on dialysis for another 6 ½ years before
                    receiving another transplant in 2020. Mr. Sanchez’s ability to have 2 transplants in 13
                    years is somewhat rare especially for a man of color. In our collective experiences we noticed a
                    disproportion representation in organ donation when it came to
                    people of color, especially in the Black and Brown communities of color in the United
                    States.
                    We also noticed that people of color were less likely to donate than their white
                    American counterparts.
        </text></section>
        <text>
            <section>
                <p style="font-size:200%;">The Organ Project is an attempt to explore the difference in organ donation.
                    We will
                    endeavor to inform and educate the American public on the disparity of minority organ
                    donorship in the United States and it is our hope that The Organ Project will create
                    discussion and exploration of the donor process in order to alleviate the growing need for
                    transplantation in communities of color.
        </text></section>
        <text>
            <section>
                <p style="font-size:200%;"><br>We are hoping that the user of our website will:<br>
                    <br>1. Register as a donor<br>
                    <br>2. Register as a recipient<br>
                    <br>3. Become more informed about donorship<br>
                </p>
                <text>
                    <section>
                        <p style="font-size:200%;">Organ transplantation offers an exceptional chance to extend and/or
                            save lives and
                            improve the health of those in need an organ. According to the 2019 National Survey of
                            Organ Donation Attitudes and Practices (2019), the number of organ transplants has
                            gradually grown over the past 65 years, with more than 750,000 transplants conducted in
                            the United States since 1988. However, the need for an organ immensely overshadows the
                            number of obtainable organs. Approximately 20 people on the national organ transplant
                            waiting list die each day, while every 10 minutes a new person is added to that list.
                </text>
            </section>

            <img src="https://lh3.googleusercontent.com/pw/ACtC-3flTYKdLYvr69_zSZyYBqDcI8DdoKnvVBcXqfS66akpOknrsl-io2AWviWBjdrcVDxOIsGuTog2oBteUJfTN94bG8Y07KH97p9HooB32v_lgxyPtYYJbO9i6Jb-vtMU_xTVPL5pOjhA8aPDTErlKVE=w388-h335-no?authuser=0"
                alt="">
            <aside> <small>Figure 1 Donor Type by Ethnicities’</small> </aside>
            <text>
                <section>
                    <p style="font-size:200%;">If we take a look at Figure 1, we will see that a majority of organs come
                        from the Black
                        population. At the same time, this is the ethnicity with the highest disparity between living
                        and deceased donors.
                        On that same figure we can also see that since 1988 we can also see that Black and Latin(x)
                        individuals donate at higher numbers than the White polulation. What we find more interesting,
                        is the ratio of transplants received by the Black community compared to how many they have
                        donated is at a deficit. Please see the next figure.
            </text></section>

            <img src="https://lh3.googleusercontent.com/pw/ACtC-3c_AZCShOZpCfgo7WgQElGbD614DMME0XoE5Oycx_Wegjf9_aHKTto4T4XkZBPpjGgV4LmoFObxKZ3MzHcqsgpA3_AKCcwg7Mz7I3jel1VMMGL_Bt-IPAoX3cBM2xLh6xYDUwhdLW1OPFLe_t6ncJI=w394-h279-no?authuser=0"
                alt="">
            <section>
        </text>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3cX_VA85w3YVjJK3zJBR3kDyj5ab1-ENzXDXlNrjKFTVv8LrCJCiIrAQJifLfNMh_wTOZLb1aDlgF32TuH4dDcGfbKvheCXtYKcATBDOlrqNC_zqv9mW1K4yUpqDtcq6q4LKA1Oe5a85g9l5JgQv9Y=w403-h265-no?authuser=0"
            alt="">
        <section>
            <small>Figure 2 African American Donor Types OPTN</small>
            <text>
                <section>
                    <p style="font-size:200%;">Taking a closer look at Figure 2, Black Donor Types we see that most of
                        the donor types come
                        from deceased donors by almost 15 thousand donors. Since 1988 Black Americans have
                        donated 19,691 live donor organs. We want to understand why is there such a gap between
                        live donors and deceased donorship?
            </text>
        </section>

        <img src="https://lh3.googleusercontent.com/pw/ACtC-3eEP6jZS4vSQ18umf7Gi5g0WIM3aBO35t6tiakJOsgjWuzXdzl8Kr9Gz2hY1QwyGx8zdyJQihdYwz049Hehz56SF_kOGxHQd30Zvl3K2q1i2pclQr3FxaMPUiCsAQoBTZNaijGaFQIg9M6Gbam93ZM=w403-h265-no?authuser=0"
            alt="">
        <section><small>Figure 3 Hispanic Donor Types</small> </section>
        <text>
            <section>
                <p style="font-size:200%;">If we take a look at Figure 3, we will see that the total Latino Donor types
                    closely resembles that
                    of the Total in Black Donor types. The difference in Latino Donor Types is that there is a slight
                    uptick in the number of live donors.
        </text></section>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3dgeVGucDLVdkVfkkYX620RKwLEOEbgV7Jd8KO1q32Xger2_3InEEYnDfnVCBdWuUxrzvxrbE0uOAcj3h6ZHZeGcRQnrU4Hw6i0GQOm3rUAD-LxD51BViklPEF1rnncoDeRmQOR-FZJ6kAu4IRY3EQ=w268-h346-no?authuser=0"
            alt="">
        <section><small>Figure 4 All Ethnicities Received Transplant</small> </section>
        <<text>
            <section>
                <p style="font-size:200%;">According to OTPN (2020), nearly two-thirds of all patients receiving an
                    organ transplant (Fig. 4) were white as opposed that of Black and Latino
                    patients which add up to 32% even though the represent almost half of all patients awaiting a kidney
                    as reflect in Figure 5.</text>
            </section>
            <img src="https://lh3.googleusercontent.com/pw/ACtC-3eQyX0qdzHYBj92Cglru9MfUdyd2Rrh1ng1mzUQLUW2Pd2sK8F_kM3kvhXnQtENoaXyyQ71XX8Zu0pbUnqvsuPx9ArgJ8We9bNBd391lctSiMgytBS5E70He9VZPCKf9q7MutyZTCi4zPOGwmHam9k=w315-h430-no?authuser=0"
                alt="">
            <aside><small>Figure 5 Organ Waiting List by Ethnicities</small></section>
            </aside>

            <text>
                <section>
                    <p style="font-size:200%;">According to the National Institute of Health (NIH-PA, 2015), There were
                        five reason or
                        obstacles to donation that were unmasked in Black and Brown communities.
                        <text>
                            <section>
                                <p style="font-size:200%;">1. Lack of transplantation awareness.
                                    <text>
                                        <section>
                                            <p style="font-size:200%;">2. Religious beliefs and misperceptions. </p>
                                            <text>
                                                <section>
                                                    <p style="font-size:200%;">3. Distrust of medical community.</p>
                                                    <text>
                                                        <section>
                                                            <p style="font-size:200%;">4. Fear of premature declaration
                                                                of death after signing a donor card.</p>
                                                            <text>
                                                                <section>
                                                                    <p style="font-size:200%;">5. Fear of racism (black
                                                                        donor preference for assurance of black
                                                                        receivership).
                                                            </text>
                                                        </section>
                                                        <text>
                                                            <section>
                                                                <p style="font-size:200%;">Eventually the Organ Project
                                                                    will look to shift attitudes towards donation as
                                                                    well as build
                                                                    knowledge about organ transplants in communities of
                                                                    color. Explore best health practices
                                                                    (prevention, nutrition and illness management) and
                                                                    what are the actions that follow a decision
                                                                    such as donation. We are hoping that the Organ
                                                                    project can reach youth as well as adults.
                                                                    The authors of this project recognize that this is
                                                                    just the beginning of our research and attempt
                                                                    to create a coding vehicle that will make this site
                                                                    actionable for those looking for answers and
                                                                    or help. *Please note that the current graphs have
                                                                    not been normalized to population of each ethnicity.
                                                                    Expect data analysis to change as updates happen to
                                                                    graphs
                                                        </text>
                                                </section>
                                                </div>
                                                </script>
    </body>

</html>