<!DOCTYPE html>
<head>
    <link href = "/normalize.css" rel = "stylesheet">
    <style>
        article {
            max-width: 500px;
            padding: 20px;
            margin: 0 auto;
        }
        @media (max-width: 500px) {
            h1 {
                font-size: 36px;
                padding: 5px;

    </style>
</head>
<body>
    img src = <!-- Add image-->
    <article>
    <h1><em>Testimonies from People of Color</em></h1>
    <p><h2>Robert Sanchez, a living example of strength</h2></p>
    <iframe width="420" height="345"
    src="https://www.youtube.com/embed/nsQ35ZgiWOk"
    </iframe>
    </article>
</body>

<iframe width="420" height="345" src="https://www.youtube.com/embed/OIabcrqiNC0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

